/* ************************************************************************************** */

html {
    scroll-behavior: smooth;
}

#root {
    background-color: #0a192f;
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
html::-webkit-scrollbar {
    width: 5px;
    background-color: #0a192f;
}
html::-webkit-scrollbar-thumb {
    background-color: #00ffc3;
    border-radius: 5px;
}


/* ************************************************************************************** */

nav {
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    height: 13vh;
    padding: 0 10vw;
    font-family: 'Kode Mono';
    margin-bottom: 5vh;
}
h1 {
    /* margin: 0; */
    color: #64ffda;
}
nav div {
    display: flex;
    gap: 4vw;
}
nav div a{
    color: #8892b0;
    text-decoration: none;
}
nav div a:hover {
    color: #64ffda;
}

/* ************************************************************************************** */

.drawer {
    display: block;
}

/* ************************************************************************************** */

.mail {
    position: fixed;
    bottom: 130px;
    right: -50px;
    transform: rotate(90deg);
}
.mail a {
    display: flex;
    font-family: 'Kode Mono';
    text-decoration: none;
    color: #64ffda;
    font-size: 18px;
    letter-spacing: 1px;
    transition: bottom 300ms, color 300ms;
}
.mail a:hover {
    color: #00ffc3;
    bottom: 200px;
}

/* ************************************************************************************** */

.social{
    position: fixed;
    height: 100vh;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
}
.social a {
    /* display: flex; */
    color: #64ffda;
}

/* ************************************************************************************** */

.particles-bg {
    position: absolute;
    top: -3vh;
    left: -10vw;
    width: 98vw;
    height: 60vh;
    z-index: -1;
}
.about {
    position: relative;
    z-index: 1;
    display: flex;
    /* position: relative; */
    /* margin-top: 20px; */
    height: 55vh;
    width: 80vw;
    font-family: 'Kode Mono';
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.aboutText {
    width: 50vw;
}
#text1 {
    font-size: x-large;
}
#text2 {
    font-size: xxx-large;
    font-weight: 500;
}
.info {
    font-size: larger;
    color: #67f244;
}
.aboutText button {
    margin: 20px 0px;
    border-color: #64ffda;
    background-color: #0a192f;
    color: #00ffc3;
}
.myImage {
    height: 50vh;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
.myImage img{
    height: 30vh;
    /* width: 18vw; */
    border-radius: 100%;
}

/* ************************************************************************************** */

.Card {
    width: 25vw;
    /* height: 30vh; */
    font-family: 'Kode Mono';
    background-color: #0a192f;
    border-color: #64ffda;
    /* padding: 2vw; */
    /* display: flex; */
    /* align-items: center; */
}
.Card:hover {
    box-shadow: 0 0 15px 0 #64ffda;
}
.ProjectContainer {
    margin-top: 7vh;
    width: 80vw;
    margin-bottom: 5vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.ProjectContainer h1 {
    color: #64ffda;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-family: 'Kode Mono';
}
.Project {
    display: flex;
    gap: 5vh;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4vh;
    
}
.Project_Image {
    margin: 10px;
    width: 94%;
    border-radius: 25px;
    box-shadow: 0 0 5px 0 #64ffda;
}
.cardTitle {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-size: large;
}
.cardButton {
    color: #0a192f;
    background-color: #00ffc3;
}
.cardButton:hover {
    background-color: #0a192f;
    border: 2px solid #00ffc3;
}

/* ************************************************************************************** */

.PreviewRoot {
    box-shadow: 0 0 100px 0 #64ffda !important
}
.PreviewContainer {
    border-radius: 5vh;
    /* background: #0a192f; */
    max-height: 90vh;
    /* box-shadow: 0 0 100px 0 #64ffda !important; */
}
.PreviewContainer::-webkit-scrollbar {
    width: 0px;
    /* height: 50vh; */
    /* background-color: #0a192f; */
    /* display: block !important; */
}
.PreviewHeader {
    background-color: #0a192f;
    border-radius: 5vh 5vh 0vh 0vh;
    border: 2px solid #00ffc3;
    border-bottom: 0 !important;
}
.PreviewTitle {
    font-family: 'Kode Mono';
    display: flex;
    width:95%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
.PreviewBody {
    background-color: #0a192f;
    /* border-radius: 0vh 0vh 5vh 5vh; */
    border: 2px solid #00ffc3;
    border-top: 0 !important;
    border-bottom: 0 !important;
    font-family: 'Kode Mono';
    color: white;
}
.PreviewImage {
    /* margin: 10px; */
    /* width: 50% !important   ; */
    /* width: 100% !important; */
    background-color: #0a192f !important;
    border: 2px solid #00ffc3;
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 10px;
    /* margin-bottom: 5px; */
    /* border-radius: 25px; */
    /* box-shadow: 0 0 100px 0 #64ffda !important; */
}
.PreviewImage src {
    border-radius: 10px;
}
.PreviewTech {
    background-color: #0a192f;
    padding: 10px;
    border: 2px solid #00ffc3;
    border-top: 0 !important;
    border-bottom: 0 !important;
}
.PreviewButtonContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0a192f;
    border-radius: 0vh 0vh 5vh 5vh;
    border: 2px solid #00ffc3;
    border-top: 0 !important;
    padding-bottom: 10px;
}
.PreviewButton {
    background-color: #0a192f;
    border: 2px solid #00ffc3;
    border-radius: 10px;
    font-family: 'Kode Mono';
    
}
.PreviewButton:hover {
    box-shadow: 0 0 30px 0 #64ffda !important;
    background-color: #0a192f;
    /* padding: 20px; */
    /* color: green;
    font-size: large; */
}

/* ************************************************************************************** */

.SkillsContainer {
    /* display: flex; */
    /* flex-direction: column; */
    width: 80vw;
    font-family: 'Kode Mono';
}
.SkillsContainer h1 {
    margin-top: 3vh;
}
.SkillsCard {
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid #00ffc3; */
    /* display: flex; */
    gap: 5vh;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 5vh;
}
.SkillsBadgeContainer {
    color: white;
    border: 2px solid #00ffc3;
    border-radius: 25px;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 5vh; */
    /* justify-content: space-around; */
    /* height: 50vh; */
    gap: 3vh;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 #64ffda !important;
}
.SkillsTitle {
    font-size: x-large;
    margin: 5px;
}
.SkillsBadge {
    /* border: 2px solid #00ffc3; */
    width: 30vw;
    display: flex;
    /* display: flex; */
    justify-content: space-around;
    gap: 3vh;
    flex-wrap: wrap;
    padding: 10px;
    /* gap: 5vh; */

}
.IconContainer {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    border: 1px solid #00ffc3;
    padding: 5px;
    border-radius: 15%;
    gap: 1vw;
}

/* ************************************************************************************** */

.relative {
    position: relative;
    margin-bottom: 10px;
    width: 80vw;
    font-family: 'Kode Mono';
    display: flex;
    flex-direction: column;
    gap: 5vh;
    /* align-items: center; */
}
.relative h1{
    margin-top: 3vh;
}
.floating-container {
    position: relative;
    width: 100%;
    /* margin-top: 20px; */
    /* gap: 5vh; */
    display: flex;
    justify-content: center;
    /* gap: 3vh; */
    /* width: 60vw; */
}
.floating-input {
    display: block;
    width: 40vw;
    padding: 12px;
    /* font-size: 16px; */
    color: white;
    background: transparent;
    border: 1px solid #00ffc3;
    border-radius: 20px;
    /* appearance: none; */
    /* outline: none; */
    /* margin-top: 10px; */
}
.floating-input:focus {
    border: 1px solid #00ffc3;
}
.floating-label {
    position: absolute;
    /* top: auto; */
    top: 50%;
    left: 21vw;
    transform: translateY(-50%);
    background: #0a192f;
    padding: 0 4px;
    color: #00ffc3;
    /* pointer-events: none; */
    transition: all 0.2s;
}
.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
    top: -1px;
    left: 21vw;
    font-size: 12px;
    color: #00ffc3;
}
.message {
    height: 25vh !important;
}
.ContactButton {
    width: 10vw;
    height: 35px;
    left: 35vw;
    border: 1px solid #00ffc3;
    background-color: #00ffc3;
    color: #0a192f;
}
.ContactButton:hover {
    background-color: #0a192f;
    box-shadow: 0 0 10px 0 #64ffda
}
  
/* ************************************************************************************** */

.FooterContainer {
    font-family: 'Kode Mono';
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 80vw;
    text-align: center;
}
.FooterName {
    color: #00ffc3;
    font-size: x-large;

}
.FooterText {
    color: #8892b0;
    font-size: larg;
}

/* ************************************************************************************** */

.DocumentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.FullWidthDocument, .FullWidthPage {
    width: 100% !important;
    /* padding: 10px; */
    /* margin: 10px; */
    /* height: 100vh !important; */
}

/* ************************************************************************************** */

.ResumeImg {
    display: flex !important;
    /* align-items: self-start !important; */
    justify-content: start !important;
    gap: 1vw;
}
.ResumeImg img {
    width: 4vw;
    height: 4vh;
}
.DownloadIcon{
    border: 1px solid #00ffc3 !important;
    box-shadow: 0 0 5px 0 #64ffda !important;
    color: #64ffda;
}
.ToolTip {
    background-color: #0a192f;
    color: #00ffc3;
}


/* ************************************************************************************** */


.myImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */ /* Uncomment if you need a specific width */
    height: 30vh;
    border-radius: 50%;
    background: linear-gradient(to top right, #64ffda, deeppink );
    padding: 3px;
    /* border: 2px solid #0ff; */
    box-shadow: 0 0 80px rgba(125, 109, 247, 0.8);
}
  
.myImage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.error {
    position: absolute;
    color: red;
    top: 52px;
    text-align: center;
}


/* ************************************************************************************** */
/* ************************************************************************************** */

@media (min-width: 800px) and (max-width: 1100px) {
    .about {
        flex-direction: column-reverse;
        height: fit-content;
        text-align: center;
    }
    #text4 {
        width: 70vw;
        position: relative;
        left: -10vw;
    }
    .myImage {
        margin: 0;
        margin-bottom: 15px;
    }
    .particles-bg {
        height: 100vh;
    }
    .Card {
        width: 35vw;
    }
    .floating-input {
        width: 60vw;
    }
    .floating-label {
        left: 12vw;
    }
    .floating-input:focus + .floating-label,
    .floating-input:not(:placeholder-shown) + .floating-label {
        left: 12vw;
        margin: 0;
    }
    .ContactButton {
        width: 13vw;
    }
}

/* ************************************************************************************** */

@media (min-width: 300px) and (max-width: 800px) {
    nav {
        margin-bottom: 10px;
    }
    nav h1 {
        display: none;
    }
    nav div {
        justify-content: space-evenly;
        width: 100%;
    }
    .social {
        left: 10px;
    }
    .mail {
        right: -90px;
    }
    .myImage img {
        height: 100%;
    }
    .myImage {
        width: 39vw;
        height: 50%
    }
    .about {
        flex-direction: column-reverse;
        height: 82vh;
        text-align: center;
    }
    #text4 {
        width: 70vw;
        position: relative;
        left: -10vw;
        /* font-size: small; */
    }
    .myImage {
        margin: 0;
        margin-bottom: 15px;
    }
    .particles-bg {
        height: 87vh;
    }
    .ProjectContainer {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .PreviewContainer {
        width: 125vw !important;
        left: -50px;
        /* height: 100%; */
    }
    .PreviewImage {
        height:fit-content ;
    }
    .PreviewTech {
        display: flex;
        justify-content: space-evenly;
    }
    .PreviewBody {
        padding-top: 10px;
    }
    .PreviewButtonContainer {
        padding-top: 10px;
    }
    .SkillsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Card {
        width: 70vw;
    }
    .SkillsBadgeContainer {
        width: 70vw;
    }
    .SkillsBadge {
        width: 65vw;
    }
    .floating-input {
        width: 70vw;
    }
    .relative {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    .floating-label {
        left: 8vw;
        font-size: small;
    }
    .floating-input:focus + .floating-label,
    .floating-input:not(:placeholder-shown) + .floating-label {
        left: 8vw;
        margin: 0;
    }
    .ContactButton {
        width: 25vw;
        left: 0;
        display: flex;
        align-items: center;
    }
    .ResumeContainer {
        width: 100vw !important;
        left: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .FullWidthDocument {
        width: 110vw !important;
        height: 80vh !important;
    }
}

/* ************************************************************************************** */
/* ************************************************************************************** */